/* Fonts */



/* oswald-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oswald-v49-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v49-cyrillic_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/oswald-v49-cyrillic_latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v49-cyrillic_latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-cyrillic_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v25-cyrillic_latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-cyrillic_latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #060d10;

}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1278px;
  margin: 0 auto;
border: 1px solid red;

}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #060d10;
}

button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 8px 41px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #060d10;
  text-decoration: none;
  text-align: center;
  background-color: #fff;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

.go-btn {
  padding: 21px 108px;
  font-size: 36px;
  line-height: 44px;
  line-height: 29px;
  background-color: transparent;
  border: 3px solid #060D10;
  border-radius: 4px;
}

/* Header */

header {
  display: flex;
  padding: 31px 0;
  font-weight: 500;
  background-color: #66d1ff;
}

header p{
  margin: 0;
  padding: 0;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-phone {
  color: #060D10;
  font-size: 28px;
  line-height: 34px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

/* Description */

.description {
  text-align: center;
  padding: 240px 0 260px;
  color: #fff;
  font-weight: 500;
  background-color: #b6abab;
  background-image: url('../images/description.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


.description-lead {
  margin-top: 0;
  margin-bottom: 60px;
}

.description-text {
  margin-bottom: 0;
  font-family: 'Montserrat';
  font-size: 32px;
  line-height: 39px;
  text-shadow: 1px 1px 2px #060d10;

}

/* Options */
.options {
  padding: 170px 0 125px;
  background-color: rgb(102,209,255, .1);
}

.options-container {
  border-bottom: 1px solid rgba(6,13,16, .5);
}


.options-lead {
  margin-top: 0;
  margin-bottom: 85px;
  font-family: 'Oswald';
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}

.options-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -15px;
  list-style: none;
}

.options-item {
  flex-basis: 33%;
  padding: 15px;
  margin-bottom: 40px;
}

.options-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0;
}

.options-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: 'Oswald';
  font-weight: 500;
  font-size: 32px;
  line-height: 53px;
  text-transform: uppercase;
}

.options-text {
  margin: 0;
  font-size: 26px;
  line-height: 36px;
  mix-blend-mode: normal;
  opacity: .8;
}


/* Go section */

.section-go {
  padding: 170px 0 180px;
  text-align: center;
  background-color: #fff;
  background-image: url('../images/go-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.go-tittle {
  margin: 0;
  margin-bottom: 60px;
  font-family: 'Oswald';
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-transform: uppercase;
}

.go-list {

  padding: 0;
  margin: 0 -15px;
  list-style: none;
}

.go-pic {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  flex-basis: 25%;
}

.go-visual {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
}

/* Footer */

.footer-style {
  padding: 35px 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  background-color: #000;
  color: #fff;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-button {
  margin-left: 98px;
  font-size: 20px;
  line-height: 33px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.copyright {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

}

/* Social */

.social{
  display: flex;
  margin: 0;
  margin-right: 500px;
  margin-left: 30px;
  padding: 0;
  list-style: none;
}

.social-item {
  margin-left: 20px;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
